{% extends "base.html" %}
{% block content %}
<div style="padding: 20px;">
    <form action="" method="post">
        {% csrf_token %}
        <div style="padding: 10px; margin: 2% 5% 0% 5%;">
            <h1 style="margin-bottom: 2%">
                {{ form.title.label }}
                {{ form.title }}
            </h1>
            <h1 style="margin-bottom: 2%">
                {{ form.content.label }}
            </h1>
            {{ form.content | safe }}
        </div>
        <div style="float: right; margin-right: 65px">
            <input type="submit" value="Submit" style="background-color: rgb(198, 255, 251); border-radius: 8px; padding: 5px;">
        </div>
    </form>
</div>
{% endblock content %}
