{% extends "base.html" %}
{% block content %}
<div style="border: solid; padding: 20px;">
    <form action="" method="post">
        {% csrf_token %}
        <h1>Are you sure you want to delete {{ fiction.title }}?</h1>
        <div style="float: right; margin-top: 30px;">
            <input class="btn btn-danger" type="submit" value="Yes" style="border: solid;"/>
            <a href="{% url 'fiction_fans:fiction_view' fiction.id %}" style="border: solid; margin-left: 10px;">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock content %}
