{% extends "base.html" %}
{% block content %}
<div style="background-color: rgb(255, 255, 255); border-radius: 8px; margin: 10px 10px 0px 10px;; padding: 20px 0px 20px 20px;">
    <form action="" method="post">
        {% csrf_token %}
        <h1>
            Are you sure you want to delete {{ fiction.title }}?
        </h1>
        <div style="float: right; margin-top: 30px;">
            <input class="btn btn-danger" type="submit" value="Delete" style="background-color: rgb(198, 255, 251); border-radius: 8px; padding: 4.5px;"/>
            <a href="{% url 'fiction_fans:fiction_view' fiction.id %}" style="background-color: rgb(198, 255, 251); border-radius: 8px; padding: 5px; margin-left: 10px;">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock content %}
