{% extends "base.html" %}
{% block content %}
<div>
    <h1>{{ fiction.title }}</h1>
</div>
<ol>
    {% for chapter in chapters %}
    <li>
        <a href="{% url 'fiction_fans:chapter_view' fiction.id chapter.id %}" style="font-size: 20px; color: black; text-decoration: none;">
            {{ chapter.title }}
        </a>
    </li>
    {% endfor %}
</ol>
<div class="pl-3 text-lg text-blue-600">
    <a href="{% url 'fiction_fans:fiction_edit' fiction.id %}">Edit</a>
</div>
{% endblock content %}
