{% extends "base.html" %}
{% block content %}
<div style="padding: 10px; font-size: 22px;">
    Create Fiction
</div>
<div style="padding: 20px 0px 20px 20px; background-color: rgb(255, 255, 255); border-radius: 8px; margin: 10px;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <label>Upload cover</label>
            <input type="file" id="file" class="image" name="image">
        </div>
        <div style="float: right; margin-top: 30px;">
            <a href="{% url 'fiction_fans:profile' %}" style="margin-right: 10px; background-color: rgb(198, 255, 251); border-radius: 8px; padding: 8px;">
                Cancel
            </a>
            <input type="submit" value="Submit" style="margin-right: 0%; background-color: rgb(198, 255, 251); border-radius: 8px; padding: 5px;">
        </div>
    </form>
</div>
{% endblock content %}
