{% extends "base.html" %}
{% block content %}
<div style="padding: 10px;">
    <div>
        <a href="{% url 'fiction_fans:hot_index' %}" style="float: right;">
            All
        </a>
        <h style="font-size: xx-large; font-family: Impact; color: rgb(0, 0, 0); margin-left: 10px;">
            HOT🔥
        </h>
    </div>
    {% for fiction in fictions.hot %}
    <ul style="list-style: none; display: inline-flex; margin: 30px auto; padding: 1%; box-sizing: border-box; width: 196px; border-radius: 8px; background-color: white;">
        <li>
            <a href="{% url 'fiction_fans:fiction_view' fiction.id %}" style="color: black; text-decoration: none;">
                <div style="width: 170px; height: 230px; margin: 4%;">
                    <img src="{{ fiction.cover_url }}">
                </div>
                {{ fiction.title }}
            </a>
        </li>
    </ul>
    {% endfor %}
</div>
<div style="padding: 10px;">
    <div>
        <a href="{% url 'fiction_fans:recently_index' %}" style="float: right;">
            All
        </a>
        <h1 style="font-size: xx-large; font-family: Impact; color: rgb(0, 0, 0); margin-left: 10px;">
            RECENTLY🔥
        </h1>
    </div>
    {% for fiction in fictions.recently %}
    <ul style="list-style: none; display: inline-flex; margin: 30px auto; padding: 1%; box-sizing: border-box; width: 196px; border-radius: 8px; background-color: white;">
        <li>
            <a href="{% url 'fiction_fans:fiction_view' fiction.id %}" style="color: black; text-decoration: none;">
                <div style="width: 170px; height: 230px; margin: 4%;">
                    <img src="{{ fiction.cover_url }}">
                </div>
                {{ fiction.title }}
            </a>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock content %}
