{% extends "base.html" %}
{% block content %}
<div id="content" class="block" style="margin: 5% 15%;">
    <h1 style="font-size: xx-large; font-family: Impact; color: rgb(255, 134, 5); margin: 0px 0px 0px 10px;">Hot!</h1>
    {% for fiction in fictions %}
    <ul style="list-style: none; align-items: center; display: inline-flex; margin: 30px auto; padding: 0px 100px;">
        <li>
            <a href="{% url 'fiction_fans:fiction_view' fiction.id %}" style="font-size: 30px; color: black; text-decoration: none;">
                {{ fiction.title }}
            </a>
        </li>
    </ul>
    {% endfor %}
</div>
<div id="content" class="block" style="margin: 5% 15%;">
    <h1 style="font-size: xx-large; font-family: Impact; color: rgb(255, 134, 5); margin: 0px 0px 0px 10px;">Recently!</h1>
    {% for fiction in fictions %}
    <ul style="list-style: none; align-items: center; display: inline-flex; margin: 30px auto; padding: 0px 100px;">
        <li>
            <a href="{% url 'fiction_fans:fiction_view' fiction.id %}" style="font-size: 30px; color: black; text-decoration: none;">
                {{ fiction.title }}
            </a>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock content %}
