{% extends "base.html" %}
{% block content %}
<div style="padding: 10px;">
    <h1>{{ user.get_username }}</h1>
</div>
<div style=" border: solid; padding: 20px;">
    {% for fiction in fictions %}
    <ol>
        <li>
            <a href="{% url 'fiction_fans:fiction_view' fiction.id %}">
                {{ fiction.title }}
            </a>
        </li>
    </ol>
    {% endfor %}
</div>
{% if user.is_authenticated %}
<div style="float: right; margin: 10px;">
    <a href="{% url 'fiction_fans:fiction_create' %}" style="border: solid;">
        Create Fiction
    </a>
</div>
{% endif %}
{% endblock content %}