{% extends "base.html" %}
{% block content %}
<div style="font-size: 22px; margin: 10px;">
    <h1>
        {{ user.get_username }}
    </h1>
</div>
<div style=" border-radius: 8px; background-color: #ffffff;; padding: 20px; margin: 10px;">
    <h1 style="font-weight: bold; margin-bottom: 10px;">
        Submitted Fictions
    </h1>
    {% for fiction in fictions %}
    <ol>
        <li>
            <a href="{% url 'fiction_fans:fiction_view' fiction.id %}">
                {{ fiction.title }}
            </a>
        </li>
    </ol>
    {% endfor %}
</div>
{% if user.is_authenticated %}
<div style="float: right; margin-right: 10px;">
    <a href="{% url 'fiction_fans:fiction_create' %}" style="background-color: rgb(198, 255, 251); border-radius: 8px; padding: 5px;">
        Create Fiction
    </a>
</div>
{% endif %}
{% endblock content %}
