body {
    /*background-color: rgba(0, 0, 0, 0.8);*/
    margin: 0;
}
nav {
    /*background: #acacac;*/
    padding: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0px;
    border: 2px solid black;
}

.logo {
    font-size: 40px;
    margin: 30px;
}

.logo a {
    text-decoration: none;
    color: black;
}

.home {
    font-size: 20px;
    margin-right: auto;
}

.home a {
    text-decoration: none;
    color: black;
}

.auth {
    font-size: 20px;
}

.auth a {
    text-decoration: none;
    color: black;
    margin: 10px;
    border: solid;
    background-color: yellow;
}

#content {
    margin: 0;
    /* background-color: #acacac; */
}

#content{
    margin: 5% 15%;
    margin-bottom: auto;
    padding: 20px;
    /* border: 2px solid black; */
    overflow: auto;
}

#content.comment_view {
    height: 300px; 
    width: 500px; 
    /* background-color: aquamarine;  */
    overflow: scroll;
}

#content.comment_view h1 {
    font-family: cursive;
    font-size: large;
    font-weight: 400;
    color: blueviolet;
}

#content.comment_view p{
    font-family: cursive;
    font-size: medium;
    font-weight: 200;
}

#content.comment_view date{
    font-family: cursive;
    color: darkgray;
    font-size: small;
    font-weight: 100;
}
