body {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
}

nav {
    background: #acacac;
    border: 2px solid black;
    align-items: center;
    display: flex;
    padding: 15px;
    height: 80px;
    margin: 0px;
}

.logo {
    font-family: Marker Felt;
    font-size: 40px;
    margin: 30px; 
    margin-right: auto;
}

.logo a {
    color: black;
    text-decoration: none;
}

.home {
    font-size: 20px;
    margin-right: auto;
}

.home a {
    color: black;
    text-decoration: none;
}

.auth a {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border-style: outset;
    border-radius: 8px;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
    color: black;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

#content{
    background: #acacac;
    border-radius: 8px;
    overflow: auto;
    margin: 5% 15%;
    padding: 20px;
}
