{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %} {% endblock head %}
        <script src="https://cdn.tailwindcss.com"></script>
        {{ form.media }}
        <link rel="stylesheet" type='text/css' href="{% static 'css/stylesheet.css' %}">
    </head>
    <nav>
        <div class="logo">
            <a href="{% url 'fiction_fans:homepage' %}">Fiction Fans</a>
        </div>
        <div class="home">
            <a href="{% url 'fiction_fans:homepage' %}">Home</a>
        </div>
        {% if user.is_authenticated %}
            <div class="auth">
                <h1> {{ user.get_username }} </h1>
            </div>
            {% else %}
                <div class="auth">
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Register</a>
                </div>
        {% endif %}
    </nav>
    <body>
            <div id="content">
                <div>
                    {% block content %}{% endblock content %}
                </div>
            </div>
    </body>
</html>
